<% include partials/header %>

<div class="homehead">
    <h1>Jason Clark</h1>
</div>

<div class="home"> 

<a href="/resume"><img src="RESUME.png" id="resumepic"></a>

</div>

<div class="home">
    
<a href="https://github.com/jasondee"><img src="git.jpg" id="resumepic"></a>

</div>

<div class="home">
    
<a href="https://www.linkedin.com/in/jason-clark-3332a785/"><img src="linkd.png" id="resumepic"></a>

</div>

<div class="home">
    
<a href="/web"><img src="node.png" id="resumepic"></a>

</div>

<% include partials/footer %>

