<% include partials/header %>

<h1 class="pikaText">Greetings!</h1>

<p class="pikaText2">My name is Jason and the picture below is me guarding a shop in Whiterun.</p>

<img src="elderscrolls.jpg" id="pikapic">

<p class="pikaText2">This picture of San Angelo makes it look much nicer than it is.</p>

<img src="sanang.jpg" id="pikapic1">

<p class="pikaText2">People pronounce Ruidoso => Ridosa.</p>

<img src="ridosa.jpg" id="pikapic2">

<p class="pikaText2">My dad was a semi-pro fisherman sponsored by Mercury Motors.</p>

<img src="helrio.jpg" id="pikapichelrio">

<p class="pikaText2">Did a brief stint in SC.</p>

<img src="charlston.jpeg" id="pikapicsc">

<p class="pikaText2">We used to visit Acuna quite often.</p>

<img src="acuna.JPG" id="pikapicacuna">

<p class="pikaText2">Tell everyone about that time I cleaned up the Presidio de San Saba so they think you are a good person.</p>

<img src="menard.jpg" id="pikapicmenard">

<p class="pikaText2">Not one stoplight.</p>

<img src="nogal.jpg" id="pikapic2">

<p class="pikaText2">Snow in Las Cruces?</p>

<img src="lc.jpg" id="pikapiclc">

<p class="pikaText2">Did some time in Ft. Worth.</p>

<img src="ftw.jpeg" id="pikapicftw">

<p class="pikaText2">Regent's Park College</p>

<img src="oxford.JPG" id="pikapicox">

<p class="pikaText2">Moved to Austin! This was taken at Kerbey Lane NW.</p>

<img src="kerbey.jpg" id="pikapicaus">

<p class="pikaText2">Category: T.V. movies and pop culture!</p>

<img src="king.jpg" id="pikapictv1">

<img src="milksteak.jpg" id="pikapictv2">

<img src="silly.jpg" id="pikapictv3">

<p class="pikaText2">Next...</p>

<img src="erin.jpg" id="pikapiccamp">

<p class="pikaText2">Fat Wizard</p>

<img src="fatwiz.jpg" id="pikapicfat">

<img src="fatwiz2.jpg" id="pikapicfat2">

<br><br><br><br><br>

<p class="pikaText2">The Forge</p>

<img src="brace.jpg" id="pikapicforge1">

<img src="forge.jpg" id="pikapicforge2">

<h1 class="pikaText">BEER!!!</h1>

<img src="beerface.jpg" id="pikapicbeer1">

<img src="keg.jpg" id="pikapicfat2">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<p class="pikaText2">My late Buddy</p>

<img src="dog.jpg" id="pikapicdog">

<p class="pikaText2">My Dad</p>

<img src="dad.jpg" id="pikapicd">

<img src="dad2.jpg" id="pikapicd1">

<img src="donns.jpg" id="pikapicd2">

<br><br>

<p class="pikaText2">Now it's time for a bad pun.</p>

<img src="pudding.jpg" id="pikapicd2">

<p class="pikaText2">Work stuff</p>

<img src="army.jpg" id="pikapicarmy">

<p class="pikaText2">What followed was a series of failed endeavors and bad investments...</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<p class="pikaText2">Until........</p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<img src="it.jpg" id="pikapicarmy">

<img src="bofh.jpeg" id="pikapicit">

<img src="bofh2.jpg" id="pikapicit">

<% include partials/footer %>