<% include partials/header %>

<div class="resumemain">
<img src="me.jpg" id="me">
<a href="/"><img src="HOME.png" id="resumehome"></a>
<strong><h1>Jason Clark</h1></h1></strong>
<br>
<i>~ 512.968.5024</i>
<br>
<i>~ atxjdc@gmail.com</i>
<br><br><br><br>

<img src="ercot.jpg" id="mmpic"><strong>ERCOT September 2017 - Present</strong>
<br><br>
<i>Linux System Administrator</i>
<br><br>
<p class="tab">● Day to day Linux System Administration tasks mostly within the RHCSA/RHCSE scope with heavy use of AD, Vsphere, Infoblox, Likewise and UCS Director for new builds.
<br><br>
● Management of 1300+ servers and a weekly on call rotation.
<br><br>

● For orchestration or automation: Ansible, Puppet and pdsh.
<br><br>

● Finished a Node.js dashboard POC using blessed-contrib. Crafted TIBCO failover scripts using Python. Regularly work with Perl for legacy reasons. Most development is Python or Ansible using GIT.
<br><br>

● Linux primary for a large scale data center physical to virtual migration, 500+ servers. Primarily RHEL5/6 systems running various types of applications or models. Taught anyone tasked to assist how to perform the various operations.
<br><br>

● Successfully completed POC for replacing Powerbroker with realmd and LDAP.
<br><br>

● Authored or contributed to team wikis on Ansible, P2V migration, realmd and LDAP. 
<br><br>

</p>
<br><br><br>



<img src="kestra.jpg" id="mmpic"><strong>Kestra Financial March 2017 - August 2017</strong>
<br><br>
<i>Technology Analyst </i>
<br><br>
<p class="tab">● Firm technical consulting, internal and owned firm help desk using Jira and Salesforce ticketing. Application, browser, web/hosting help, MX and SPF record support. 
<br><br>

● Conversion and administration to Mimecast for all firms as well as general cryptography consulting.
<br><br>

● AD and Vsphere administration. </p>
<br><br><br>



<img src="igt.png" id="mmpic"><strong>IGT  September 2016 - February 2017</strong>
<br><br>
<i>Systems Analyst</i>
<br><br>
<p class="tab">● Systems monitoring using Nagios, HP OpenView, Tivoli, Linux journals and an in house monitoring system.
<br><br>

● Internal technical support by phone, email and IM. 
<br><br>

● Systems administration including upgrades, LDAP access and failovers.</p>
<br><br><br>



<img src="mm.png" id="mmpic"><strong>MiddleMatter December 2015 - December 2017</strong>
<br><br>
<i>Linux System Administrator</i>
<br><br>
<p class="tab">● Full stack application support for both LAMP and MEAN.
<br><br>

● Used cloud 9 and GIT with Heroku to deploy web applications.
<br><br>

● Assisted with jr. level C++ tasks. Used QT.
<br><br>

● Sales, service and technical consulting. </p>
<br><br><br>



<img src="oasis.jpg" id="mmpic"><strong>Oasis Intervention & Educational Success  September 2014 - July 2016</strong>
<br><br>
<i>Web Developer</i>
<br><br>
<p class="tab">● Sales, marketing, community services and support by phone or email. 
<br><br>

● MEAN development mostly for information or data gathering pages.
<br><br>

● Content creation, text and basic art. </p>
<br><br><br>


<img src="lfs.jpg" id="mmpic"><strong>Liquidity Funding Solutions December 2012 – August 2014</strong>
<br><br>
<i>Web Developer</i>
<br><br>
<p class="tab">●       Designed landing, teaching as well as information gathering pages using HTML, CSS, PHP, JavaScript, Wordpress and MySQL.
<br><br>
●       Created product information, marketing information and team training videos.
<br><br>
●       LAMP administration for hosting web services.
<br><br>
●       MySQL developer.
<br><br>
●       Assisted in sales and service by phone or email. </p>
<br><br><br><br>
<img src="ibc.png" id="mmpic"><strong>IBC Bank May 2011 – July 2012</strong>
<br><br>
<i>Senior Relationship Banker</i>
<br><br>
<p class="tab">●       Created new growth by teaching my team about alternative banking products and how to market them. This initiative moved the branch out of the DDA new client realm and into a long term investment relationship view.
<br><br>
●       Helped manage a one and a half million dollar per year branch. Personally managed Silver level holdings and had an authority limit of ten thousand dollars.
<br><br>
●       Developed new partnerships with several meaningful non-profit organizations including an overseas human rights organization and the local(Cedar Park) farmers market.
<br><br>
●     Provided phone as well as email support for clients and the various banking applications. </p>
<br><br><br>

<img src="nm.png" id="mmpic"><strong>Active Guard Reserve- NMARG March 2004 – March 2012</strong>
<br><br>
<i>Unix Administrator </i>
<br><br>
<p class="tab">●       C4I Tactical Operations Center Enhanced Operator
<br><br>
●       As a radio and satellite networking operator I would detect, track and identify aircraft then correlate tracks to broadcasts early warning information in coordination with missile defence operators.
<br><br>
●      Unix and physical networking. Establish, maintain and operate all equipment or networks.
<br><br>
●      Drone operations, maintenance and routine foot or mounted patrols under the USCBPA.</p>
<br><br><br>

<strong>Certifications: </strong>
<br>
<p class="tab"><i>LPI Linux Essentials Exam 010 Certificate ID: 1483871291
<br>
HE.NET IPv6: Certified Sage
<br>
CloudU Certificate Certificate ID: 3cd160ea-f2b3-40ea-9301-b4fd89f30aa1
<br>
ESL: IMB</i></p>
</div>

<% include partials/footer %>