<% include partials/header %>

<div class="homehead">
    <h1 id="nodehead">Node.js</h1>
    <p><i>Servers may need time to wake up.</i></p>
</div>

<a href="/"><img src="HOME.png" id="resumehome"></a>

<div class="web">
    
<a href="https://pacific-badlands-54465.herokuapp.com"><img src="taverntime.PNG" id="nodepics"></a>

<p id="nodedesc">
    
    <strong>TavernTime:<br></strong>
    <i>A social media site for tavern reviews.<br></i>
    <br>
    Only existing users can add new users, add comments or taverns and delete comments or taverns.<br>
    <br>
    Fully functioning CRUD for comments and taverns.<br>
    <br>
    This is version 1, in the future I will add more bells and whistles. <br>
    <br>
    Node server using mlab for the database.
    </p>

</div>

<div class="web">
    
<a href="https://radiant-wildwood-90352.herokuapp.com/"><img src="Skapari.png" id="nodepics"></a>

<p id="nodedesc">
    
    <strong>Skapari:<br></strong>
    <i>Fake Technology Firm<br></i>
    <br>
    Demonstrates Node.js authentication.<br>
    <br>
    Username: <i>admin <br></i>
    <br>
    Password: <i>GO.admin.01<br></i>
    <br>
    MEAN- Built from scratch Node server, ejs, express, socket.io and mongo!
    </p>

</div>

<% include partials/footer %>