<% include partials/header %>

<div class="homehead">
    <h1 id="nodehead">Node.js</h1>
</div>

<a href="/"><img src="HOME.png" id="resumehome"></a>

<div class="web">
    
<a href="https://radiant-wildwood-90352.herokuapp.com/"><img src="Skapari.png" id="nodepics"></a>

<p id="nodedesc">
    
    <strong>Skapari:<br></strong>
    Fake Technology Firm<br>
    <br>
    Node.js authentication and basic design.<br>
    <br>
    Username: <i>admin <br></i>
    <br>
    Password: <i>GO.admin.01<br></i>
    <br>
    Pure MEAN- Built from scratch Node server, ejs, express, socket.io and mongo!
    </p>

</div>

<% include partials/footer %>